<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home-bragastore</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../static/img/LogoBragaStoreIconNav.png" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top">

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contatos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cadastro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Entrar</a>
                        </li>
                    </ul>
                </div>


            </div>
        </nav>
    </header>
    <main>

        <div class="row">
            <div class="col-12">
                <div class="card h-100 bannerLogo">
                    <img src="../static/img/LogoBragaStore3D.png" class="card-img-top bannerLogoTamanho" alt="...">

                </div>
            </div>


        </div>
        <div class="container  mt-3 mb-1">

            <div class="row ">
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="card h-70">
                        <img src="../static/img/basicca2.png" class="card-img-top tamanhoImg" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Camisa Básica</h5>
                            <p class="card-text">100% algodão</p>

                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary">Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="card h-70">
                        <img src="../static/img/social1.png" class="card-img-top tamanhoImg" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Social Manga Curta</h5>
                            <p class="card-text">Linho Flâme.</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="text-body-secondary text-center rodapebg mt-1 mb-1">
                Braga Store
            </div>

            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="card h-70">
                        <img src="../static/img/Social2.png" class="card-img-top tamanhoImg" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Social Manga Curta</h5>
                            <p class="card-text">100% algodão.</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary">Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="card h-70">
                        <img src="../static/img/Social3.png" class="card-img-top tamanhoImg" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Social Manga Curta</h5>
                            <p class="card-text">100% algodão.</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="container-fluid alinhamentoRodape">

                <!-- Informações -->
                <div class="row margemInformacoes mt-1 mb-1">
                    <div class="col-md-4">
                        <h5 class="card-title">Suporte</h5>
                        <p class="card-text">E-mail:bragastore@outlook.com.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h5 class="card-title">Compra Segura</h5>
                        <p class="card-text">Ambiente 100% seguro.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h5 class="card-title">Frete Gratis</h5>
                        <p class="card-text">Compras acima de R$499.
                        </p>
                    </div>
                </div>
                <!-- Fim Informações-->

                <!-- Links -->
                <div class="row margemInformacoes">
                    <div class="col-md-4">
                        <h5 class="card-title">Redes sociais</h5>
                        <div class=" mt-4">
                            <img src="../static/img/facebook.png " alt="" width="40" height="40">
                            <img src="../static/img/instagram.png" alt="" width="40" height="40">
                            <img src="../static/img/whatsapp.png" alt="" width="40" height="40">
                        </div>

                    </div>

                    <div class="col-md-4">
                        <h5 class="card-title">Ambiente Suguro</h5>
                        <div class=" mt-4">
                            <img src="../static/img/Norton.png" alt="" width="60" height="20">
                            <img src="../static/img/Secured.png" alt="" width="60" height="20">
                            <img src="../static/img/SSLsecure.png" alt="" width="60" height="20">
                        </div>

                    </div>

                    <div class="col-md-4">
                        <h5 class="card-title">Formas de pagamentos</h5>
                        <div class=" mt-4">
                            <img src="../static/img/pix.png" alt="" width="100" height="40">
                            <img src="../static/img/cartao.png" alt="" width="40" height="40">
                            <img src="../static/img/boleto.png" alt="" width="40" height="40">
                        </div>

                    </div>
                </div>
                <!-- Links -->

            </div>
        </div>

        <div class="card-footer text-body-secondary bg-body-tertiary text-center rodapebg">
            By Stanley Braga
        </div>

    </footer>

    <script src="../static/js/bootstrap/bootstrap.bundle.min.js "></script>
    <script src="../static/css/index.css "></script>





</body>

</html>